
*.vsidx
*.idb
*.tlog
*.ipch
lab3/.vs/lab3/v17/Browse.VC.db
lab3/.vs/lab3/v17/.suo
lab3/Debug/lab3.pdb
lab3/Debug/lab3.exe
*.sln
*.filters
*.obj
*.log
*.recipe
*.ilk
lab3/lab3/Debug/lab3.vcxproj.FileListAbsolute.txt
lab3/lab3/Debug/vc143.pdb
*.vcxproj
*.user
*.db-shm
*.db-wal
*.opendb
